.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBrand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 2rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navigationLinks {
  color: #2299c8;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navigationLinks a {
  padding-right: 2rem;
  border-right: 3px solid black;
}

.navigationLinks a:last-child {
  border-right: none;
}
